*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
**/migrations
*.DS_Store
**/__pycache__
**/.DS_Store

# IDE
.vscode/

# Environment Vars
.envs
.env.dev
.env.production

# Python cache
.pytest_cache/
__pycache__/

# Python env
venv*
.venv*
venv-backend

# sqlite
*.db

# Tests
.coverage

#Images
static*
.static*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
