packages:
    yum:
        amazon-linux-extras: []
        git: []
        postgresql95-devel: []
        gettext: []
        libjpeg-turbo-devel: []
        libffi-devel: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql10
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
    03_install_gdal_packages:
        command: sudo yum -y install gdal gdal-devel

files:
  "/etc/httpd/conf.d/wsgihacks.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization On
