  commands:
    01_download_deps:
      cwd: /tmp/
      command: |
        sudo wget https://github.com/LilithWittmann/Roller/releases/download/0.1-eb-dependencies/geo_binaries.tar.gz
        sudo tar -xf geo_binaries.tar.gz

    02_install_geos:
      cwd: /tmp/
      command: |
        sudo mkdir -p /usr/local/geos
        sudo tar -xzf geos.tar.gz -C /usr/local/geos
        sudo rm -f geos.tar.gz
      test: "[ ! -d /usr/local/geos ]"

    03_install_proj4:
      cwd: /tmp/
      command: |
        sudo mkdir -p /usr/local/proj4
        sudo tar -xzf proj4.tar.gz -C /usr/local/proj4
        sudo rm -f proj4.tar.gz
      test: "[ ! -d /usr/local/proj4 ]"

    04_install_gdal:
      cwd: /tmp/
      command: |
        sudo mkdir -p /usr/local/gdal
        sudo tar -xzf gdal.tar.gz -C /usr/local/gdal
        sudo rm -f gdal.tar.gz
      test: "[ ! -d /usr/local/gdal ]"

option_settings:
  aws:elasticbeanstalk:application:environment:
    LD_LIBRARY_PATH: /usr/local/lib:$LD_LIBRARY_PATH
    PROJ_LIB: usr/local/proj
    GDAL_LIBRARY_PATH: /usr/local/gdal/lib/libgdal.so