option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: service.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true